* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

table {
  border-collapse: collapse;
}

td {
  border: .3rem solid #333;
  text-align: center;
  user-select: none;
}
