* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

td {
  border: .3rem solid #000;
  text-align: center;
  user-select: none;
}

.circle {
  color: #f00;
}

.cross {
  color: #00f;
}

.tryangle {
  color: #0f0
}
